<div class='logout-border' style ='position: absolute;
width: 100px;
height: 26px;
left: 1094px;
top: 110px;

background: #D9D9D9;
border-radius: 24px;'></div>



<a href="logout.php"><img src="image/logout.png" class ="btn-logout" style="
    width: max-content;
    height: max-content;
    left: 1110px;
    top: 45px;
    position: absolute;
    background-size:25px;
    border-radius: 10px;
    filter: saturate(500%) contrast(800%) brightness(500%) 
      invert(80%) sepia(50%) hue-rotate(120deg);
    z-index: 3;">
    
    <div class='logout' style='
        position:absolute;
        width: 100px;
        height: 26px;
        left: 1119px;
        top: 112px;
        z-index: 2;'>Logout</div>
</a>
